h1{
    background-color:blue;
    color: white;
    font-size: 40px;
    text-align: center;

}

li{
    border:2px solid greenyellow;
    border-width: 8px;
    border-style: double;
    padding: 8px;
    margin-bottom: 8px;
}

h2{
    background-color: green;
    color: white;
}

p{
    font-size: 20px;
    color: purple;
}
